/* Estilos para pantallas grandes (1025px en adelante) */
@media (max-width: 1200px) {

  /* -- Navegación -- */
  .main-nav__container {
    gap: 7vw;
  }

  /* -- Productos -- */
  .products__cards {
    flex-wrap: wrap;
  }

  /* -- Testimonios -- */
  .carousel__details{
    width: 90%;
  }

  /* -- Footer -- */
  /* .footer {
    padding: 40px;
  } */

}

@media (max-width: 1172px) {

  /* -- Productos -- */
  .products__cards {
    justify-content: center;
  }

  /* -- Combos -- */
  .flier__title{
    font-size: 48px;
  }

  .flier__paragraph{
    font-size: 18px;
    line-height: var(--line-height-base);
  }

  .flier__price{
    font-size: 56px;
  }
}

/* Estilos pantallas medianas a grandes (1024px - 1100px) */
@media (max-width: 1100px) {

  /* -- Navegación -- */
  .main-nav__container{
    gap: 5vw;
  }

  .main-nav__logo-img{
    width: 128px;
  }

  .main-nav__menu-list {
    gap: var(--spacing-sm);
  }

  .main-nav__order-box-text{
    font-size: 14px;
  }

  .main-nav__order-box-link{
    font-size: 22px;
  }
  
  /* -- Hero -- */
  .hero__title {
    font-size: 18px;
  }

  .hero__subtitle {
    font-size: 64px;
  }

  .hero__paragraph {
    font-size: 18px;
  }

  .hero__img{
    width: 340px;
  }

  /* -- Vegetariana -- */
  .widget{
    padding: 56px;
  }

  .btn--red{
    font-size: 14px;
    padding-inline: 2px;
    height: 48px;
    width: 180px;
    letter-spacing: 2px;
  }
  
  .widget__title{
    font-size: 24px;
  }

  .widget__subtitle{
    font-size: 58px;
  }

  .widget__details-price{
    font-size: 68px;
    width: 180px;
  }

  .widget__details-data {
    font-size: var(--font-size-base);
  }

  .widget__copy{
    gap: var(--spacing-sm);
  }

  .widget__image img{
    width: 270px;
  }

  /* -- Combos -- */
  .combos__title{
    font-size: 48px;
  }

  .flier__title{
    font-size: 44px;
  }

  .flier__paragraph{
    line-height: 1.4;
  }

  .flier__price{
    font-size: 52px;
  }

  /* -- Footer -- */
  /* .footer {
    padding: 30px;
  } */

}

/* Estilos para tabletas y pantallas medianas (769px - 1024px) */
@media (max-width: 992px) {

  /* -- Navegación -- */
  .main-nav__container {
    width: var(--content-width);
  }

  .main-nav__logo-img {
    width: 120px;
  }

  .main-nav__menu {
    display: none;
  }

  .main-nav__order {
    display: none;
  }

  .main-nav__modal {
    display: block;
  }

  /* -- Wave -- */
  .wave{
    /* opacity: 0; */
    background-image: none;
  }

  /* -- Hero -- */
  .hero__img {
    width: 320px;
  }

  /* -- Vegetariana -- */
  .widget__title {
    font-size: 20px;
  }

  .widget__title::after {
    left: 26vw;
  }

  .widget__subtitle {
    font-size: 56px;
  }

  .widget__image img{
    width: 260px;
  }

  /* -- Combos -- */
  .combos__title{
    font-size: 44px;
  }

  .flier__title{
    font-size: 40px;
  }

  .flier__price{
    font-size: 48px;
  }

  /* -- Footer -- */
  /* .footer {
    padding: 30px;
  } */

}

/* Estilos para móviles medianos y tabletas pequeñas (481px - 768px) */
@media (max-width: 768px) {
  /* -- Estilos Principales -- */
  .contenedor-spaced{
    padding: 0 4vw;
  }

  /* -- Navegación -- */
  .main-nav__logo-img {
    width: 110px;
  }

  /* -- Hero -- */
  .hero__item {
    margin-block: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--spacing-lg);
  }

  .hero__text {
    text-align: center;
    align-items: center;
  }

  .hero__content-img {
    text-align: center;
  }

  .hero__img {
    width: 300px;
  }

  /* -- Productos -- */
  /* .products__details {
    opacity: 1;
    transform: scale(1);
  } */

  /* -- Vegetariana -- */
  .vegetarian__item{
    justify-content: center;
  }

  .widget__subtitle {
    font-size: 50px;
  }

  .widget__image img{
    width: 200px;
  }

  /* -- Combos -- */
  .combos__title{
    font-size: 40px;
  }

  /* -- Testimonios -- */
  .testimonials__title {
    font-size: 28px;
  }

  .testimonials__details{
    width: 100%;
    padding-inline: var(--spacing-md);
  }

  .carousel__copy{
    font-size: 18px;
  }

  .carousel__image img{
    width: 100px;
  }

  /* -- Footer -- */
  /* .footer {
    padding: 20px;
  } */

}

@media (max-width: 682px) {

  /* -- Productos -- */
  .products__details {
    padding: 40px 0 24px 0;
  }

  .products__title {
    font-size: var(--font-size-h2);
  }

  .products__description {
    font-size: 18px;
  }

  /* -- Vegetariana -- */
  .widget {
    padding: 46px;
  }

  .widget__subtitle {
    font-size: 42px;
  }

  .widget__image img {
    width: 160px;
  }

  .widget__details-price {
    width: 160px;
    font-size: 56px;
  }

  .widget__details-data {
    font-size: 14px;
  }

  .widget__copy > span {
    font-size: 14px;
  }

  /* -- Combos -- */
  .combos__title{
    font-size: 36px;
  }

  .combos__title--red{
    display: block;
  }

}

/* Estilos para móviles pequeños (320px - 480px) */
@media (max-width: 576px) {
  /* -- Contenedores -- */
  .contenedor-spaced{
    padding: 0 1vw;
  }

  /* -- Navegación -- */
  .main-nav {
    height: 3rem;
  }

  .main-nav__logo-img {
    width: 80px;
  }

  /* -- Hero -- */
  .hero__item {
    padding-top: 28px;
    row-gap: var(--spacing-md);
  }

  .hero__subtitle {
    font-size: 36px;
  }

  .hero__paragraph {
    font-size: var(--font-size-base);
  }

  .hero__img {
    width: 240px;
  }

  /* -- Botones -- */

  .btn{
    height: 40px;
    width: 140px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .btn__add-to-cart{
    width: var(--content-width);
    height: 40px;
  }

  /* -- Vegetariana -- */
  .widget {
    margin-block: var(--spacing-lg);
    width: 100%;
    padding: var(--spacing-lg);
  }

  .widget__title {
    font-size: 18px;
  }

  .widget__subtitle {
    font-size: 38px;
  }

  .widget__image img {
    width: 140px;
  }

  /* -- Combos -- */
  .flier__details{
    text-align: center;
    align-items: center;
  }

  .combos__title{
    font-size: 26px;
  }

  .flier__price{
    font-size: 40px;
  }

  /* -- Testimonios -- */
  .carousel__details{
    width: 100%;
  }

  .slick-dots{
    margin-top: var(--spacing-sm);
  }

  /* -- Footer -- */
  /* .footer {
    padding: 10px;
  } */

}

/* Estilos para móviles pequeños (320px - 480px) */
@media (max-width: 480px) {

  /* -- Vegetariana -- */
  .widget__title::after {
    left: 9rem;
  }

  .widget__subtitle {
    font-size: 26px;
  }

  .widget__details-price {
    width: 100px;
    font-size: 44px;
    margin-bottom: 0;
  }

  .widget__details-data {
    font-size: 12px;
  }

  .btn--red{
    font-size: 12px;
    height: 38px;
    width: 120px;
    letter-spacing: 1px;
  }

  .widget__image img {
    width: 110px;
  }

  /* -- Footer -- */
  /* .footer {
    padding: 10px;
  } */

}